<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="tab">
    <div>
    <h5><b>Blog On Rails</b></h5>
    </div>
    <div>
    <%= link_to 'Home', posts_path %>
    |
    <%=  link_to 'New Post', new_post_path %>
    |
    <% if user_signed_in? %>
      <%= link_to "Hello #{current_user.full_name}!", edit_user_path(current_user) %> 
      <%= button_to 'Logout', session_path, method: :delete, data:{confirm: 'Are you sure you want to logout?'} %>
    <% else %>
      <%= link_to 'Login', new_session_path %> |
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    </div>
    </nav>
    <div>
    <%= render 'layouts/alerts' %>
    </div>
    <%= yield %>
  </body>
</html>
